ul.menu
	li
		a(href="/") #{lang('menu.home')}
	if !data.session || !data.session.user
		li
			a(href="/UserLogin") #{lang('menu.user.login')}
		li
			a(href="/UserAdd") #{lang('menu.user.add')}
	else
		li
			a(href="/LanguageList") #{lang('menu.language.list')}
		li
			a(href="/UsergroupList") #{lang('menu.usergroup.list')}
		li
			a(href="/UserList") #{lang('menu.user.list')}
		li
			a(href="/PostList") #{lang('menu.post.list')}